/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  color: #333;
}

.app-container {
  max-width: 1000px;
  margin: 0.5rem 3rem; /* Center the container */
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-top: 20px;
  color: #333;
}

p {
  text-align: center;
  color: #666;
  margin-bottom: 2rem;
}

/* Form Styles */
form {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  /* gap: 1rem; */
  margin: 2.5rem;
}

form input[type="text"],
form input[type="number"],
form input[type="submit"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 80%;
  max-width: 300px;
}

form input[type="submit"] {
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

form input[type="submit"]:hover {
  background-color: #0056b3;
}

/* Subject Details Styles */
.subject-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 10px auto;
  width: 80%;
  max-width: 500px;
  gap: 1rem;
}

.subject-details p {
  margin: 0;
  flex: 1;
  text-align: center;
}

.subject-details button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer; 
}

.subject-details button:hover {
  background-color: #0056b3;
}

/* Responsive Design */
@media (max-width: 768px) {
  .app-container {
    width: 90%;
  }
  form input[type="text"],
  form input[type="number"],
  form input[type="submit"],
  .subject-details {
    width: 90%;
  }
}

@media (max-width: 480px) {
  .subject-details {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .subject-details p,
  .subject-details button {
    flex: 1;
    text-align: center;
  }

  .subject-details button {
    width: auto;
    margin-top: 10px;
  }
}